{% extends 'base.html.twig' %}
{% block title %}SayIt | Comment{% endblock %}
{% block body %}
  <h2 class="page-header">Add Comment</h2>
  {{form_start(form)}}
  {{form_widget(form)}}
  {{form_end(form)}}
{% endblock %}
