{% extends 'base.html.twig' %}
{% block title %}SayIt | Welcome{% endblock %}
{% block body %}
  <h2 class="page-header">Users</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td><a href="/{{user.name}}">{{user.name}}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
